<template id="ui-Window">
    <div class="WindowTitlebar" part="header">
        <span class="WindowTitleText"></span>
        <div class="WindowControlButtons">
            <button class="WindowMinimizeBtn" aria-label="Minimize" style="display:none">&#x2013;</button>
            <button class="WindowMaximizeBtn" aria-label="Maximize" style="display:none">&#x25A1;</button>
            <button class="WindowCloseBtn" aria-label="Close" style="display:none">&#x2715;</button>
        </div>
    </div>
    <div class="WindowContent" part="content">
        <slot></slot>
    </div>
    <div class="WindowButtonbar" part="button-bar">
        <slot name="buttons">
            <button class="WindowOKButton">OK</button>
            <button class="WindowCancelButton">Cancel</button>
        </slot>
    </div>
</template>
