:host {
    color: var(--gooey-checkboxmenuitem-color, var(--gooey-color-text));
    display: flex !important;
    justify-content: space-around;
    width: 100%;
}

.MenuItemIcon {
    height: var(--gooey-checkboxmenuitem-icon-size, 14px);
    width: var(--gooey-checkboxmenuitem-icon-size, 14px);
    margin-left: 7px;
    margin-right: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

:host([checked]) .MenuItemIcon {
    background-image: url("resources/icons/checked.png");
}

.MenuItemText {
    flex: 1;
    margin-left: 0px;
    margin-right: 60px;
    text-align: left;
    user-select: none;
}

.MenuItemShortcut {
    text-align: right;
    margin-right: 7px;
    width: 55px;
}

:host([active]) {
    background-color: var(--gooey-checkboxmenuitem-bg-active, var(--gooey-color-primary)) !important;
    color: var(--gooey-checkboxmenuitem-color-active, var(--gooey-color-primary-text));
}
