/* ToggleButton - Janus structural override */

.toggle-button,
button {
    /* chiseled raised border */
    border: none;
    border-top: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #808080;
    border-bottom: 1px solid #808080;
    box-shadow:
        inset -1px -1px 0 #000000,
        inset 1px 1px 0 #dfdfdf;
    padding: 4px 8px;
    outline: none;
}

.toggle-button:active,
button:active {
    /* Pressed state - inverted borders */
    border-top: 1px solid #808080;
    border-left: 1px solid #808080;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    box-shadow:
        inset 1px 1px 0 #000000,
        inset -1px -1px 0 #dfdfdf;
}

.toggle-button:focus,
button:focus {
    outline: 1px dotted #000000;
    outline-offset: -3px;
}

/* Pressed/toggled state - navy blue */
:host(.pressed) .toggle-button,
:host(.pressed) button {
    background-color: #000080;
    color: #ffffff;
    border-top: 1px solid #808080;
    border-left: 1px solid #808080;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    box-shadow:
        inset 1px 1px 0 #000000,
        inset -1px -1px 0 #dfdfdf;
}

:host(.pressed) .toggle-button:hover,
:host(.pressed) button:hover {
    background-color: #000066;
}

:host(.pressed) .toggle-button:active,
:host(.pressed) button:active {
    background-color: #000050;
}

/* Disabled state */
:host([disabled]) .toggle-button,
:host([disabled]) button {
    text-shadow: 1px 1px 0 #ffffff;
}

:host([disabled]) .toggle-button:hover,
:host([disabled]) button:hover,
:host([disabled]) .toggle-button:active,
:host([disabled]) button:active {
    border-top: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #808080;
    border-bottom: 1px solid #808080;
    box-shadow:
        inset -1px -1px 0 #000000,
        inset 1px 1px 0 #dfdfdf;
}

:host([disabled].pressed) .toggle-button,
:host([disabled].pressed) button {
    background-color: #808080;
    color: #c0c0c0;
}

/* Icon and text styling */
.toggle-button img,
button img {
    margin-right: 4px;
    display: block;
}

.toggle-button span,
button span {
    display: inline-block;
    line-height: 1;
}

.toggle-button img:only-child,
button img:only-child {
    margin-right: 0;
}
