/* Button - Janus structural override */

button {
    /* chiseled raised border */
    border: none;
    border-top: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #808080;
    border-bottom: 1px solid #808080;
    box-shadow:
        inset -1px -1px 0 #000000,
        inset 1px 1px 0 #dfdfdf;
    padding: 4px 12px;
}

button:active {
    /* Pressed state - inverted borders */
    border-top: 1px solid #808080;
    border-left: 1px solid #808080;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    box-shadow:
        inset 1px 1px 0 #000000,
        inset -1px -1px 0 #dfdfdf;
    padding: 5px 11px 3px 13px;
}

button:focus {
    outline: 1px dotted #000000;
    outline-offset: -4px;
}

/* Disabled state */
:host([disabled]) button {
    text-shadow: 1px 1px 0 #ffffff;
}

:host([disabled]) button:hover,
:host([disabled]) button:active {
    border-top: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #808080;
    border-bottom: 1px solid #808080;
    box-shadow:
        inset -1px -1px 0 #000000,
        inset 1px 1px 0 #dfdfdf;
    padding: 4px 12px;
}

/* Icon and text styling */
button img {
    margin-right: 4px;
    display: block;
}

button span {
    display: inline-block;
    line-height: 1;
}

button img:only-child {
    margin-right: 0;
}
