<template id="promptDialogTemplate">
    <ui-Window width="400" height="160" id="promptDialog" wintitle="Prompt" draggable constrainviewport modal>
        <div class="DialogPrompt-container">
            <img class="DialogPrompt-icon" src="GooeyJS/resources/icons/prompt32.png" alt="Prompt">
            <div class="DialogPrompt-content">
                <div class="DialogPrompt-message"></div>
                <ui-TextField class="DialogPrompt-input"></ui-TextField>
            </div>
        </div>
    </ui-Window>    
</template>