<template id="promptDialogTemplate">
    <gooeyui-window width="400" height="160" id="promptDialog" wintitle="Prompt" draggable constrainviewport modal>
        <div class="DialogPrompt-container">
            <img class="DialogPrompt-icon" src="resources/icons/prompt32.png" alt="Prompt">
            <div class="DialogPrompt-content">
                <div class="DialogPrompt-message"></div>
                <gooeyui-textfield class="DialogPrompt-input"></gooeyui-textfield>
            </div>
        </div>
    </gooeyui-window>
</template>