/* DropDownList Styles */
:host {
    display: inline-block;
}

/* Disabled styles for DropDownList */
:host([disabled]),
:host([disabled]) select {
    opacity: var(--gooey-dropdownlist-opacity-disabled, var(--gooey-opacity-disabled, 0.5));
    cursor: not-allowed;
}

:host([disabled]) select {
    background-color: var(--gooey-dropdownlist-bg-disabled, var(--gooey-color-surface, #c1c0c1));
    color: var(--gooey-dropdownlist-color-disabled, var(--gooey-color-text-disabled, #808080));
}
