/* DropDownList Styles */
:host {
    display: inline-block;
}

/* Disabled styles for DropDownList */
:host([disabled]),
:host([disabled]) select {
    opacity: var(--gooey-dropdownlist-opacity-disabled, var(--gooey-opacity-disabled));
    cursor: not-allowed;
}

:host([disabled]) select {
    background-color: var(--gooey-dropdownlist-bg-disabled, var(--gooey-color-surface));
    color: var(--gooey-dropdownlist-color-disabled, var(--gooey-color-text-disabled));
}
