/* DropDownList Dark Theme */

:host {
    display: inline-block;
}

select {
    background-color: #1e1e1e;
    color: #e0e0e0;
    border: 2px inset #505050;
}

select:focus {
    border-color: #4a90e2;
}

/* Disabled styles for DropDownList */
:host([disabled]),
:host([disabled]) select {
    opacity: 0.5;
    cursor: not-allowed;
}

:host([disabled]) select {
    background-color: #252525;
    color: #707070;
}
