/* SplitPanel - Janus structural override */

.splitpanel-pane {
    /* sunken border */
    border-top: 1px solid #808080;
    border-left: 1px solid #808080;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    box-shadow: inset 1px 1px 0 #000000;
}

.splitpanel-divider {
    /* raised divider */
    border-top: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #808080;
    border-bottom: 1px solid #808080;
}

.splitpanel-divider:hover {
    background-color: #d4d4d4;
}

.splitpanel-divider:active,
:host(.splitpanel-dragging) .splitpanel-divider {
    background-color: #a0a0a0;
    /* Pressed/dragging state - inverted borders */
    border-top: 1px solid #808080;
    border-left: 1px solid #808080;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}

/* Horizontal orientation */
:host([orientation="horizontal"]) .splitpanel-divider {
    min-width: 4px;
    width: 6px;
}

/* Vertical orientation */
:host([orientation="vertical"]) .splitpanel-divider {
    min-height: 4px;
    height: 6px;
}
