<template id="ui-RichTextEditor">
    <div class="richtexteditor-shell">
        <div class="richtexteditor-toolbar">
            <button class="richtexteditor-button" type="button"><img src="gooey/resources/icons/text_bold32.png"></button>
            <button class="richtexteditor-button" type="button"><img src="gooey/resources/icons/text_italics32.png"></button>
            <button class="richtexteditor-button" type="button"><img src="gooey/resources/icons/text_underline32.png"></button>
            <button class="richtexteditor-button" type="button"><s>S</s></button>
            <button class="richtexteditor-button" type="button"><img src="gooey/resources/icons/text_subscript32.png"></button>
            <button class="richtexteditor-button" type="button"><img src="gooey/resources/icons/text_superscript32.png"></button>
        </div>
        <div class="richtexteditor-content" contenteditable="true" role="textbox" tabindex="0" aria-multiline="true" spellcheck="true">
        </div>
    </div>
</template>