/* AppPanel Base Theme */

:host {
    background-color: var(--gooey-apppanel-bg, var(--gooey-color-surface, #c1c0c1));
    height: 100%;
    width: 100%;
    display: grid !important;
    grid-template-areas:
        "north north north"
        "west center east"
        "south south south";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 1fr auto;
}

/* Border layout region positioning */
::slotted([region="north"]) { grid-area: north; }
::slotted([region="south"]) { grid-area: south; }
::slotted([region="west"]) { grid-area: west; }
::slotted([region="east"]) { grid-area: east; }
::slotted([region="center"]) { grid-area: center; }
