/* ContextMenu Dark Theme */

:host {
    display: none;
    position: absolute;
    z-index: 1000;
}

.ui-ContextMenu {
    background-color: #2d2d2d;
    border: 1px solid #505050;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    min-width: 150px;
    padding: 2px 0;
}

:host([active]) {
    display: block;
}

/* Nested MenuItem styles within ContextMenu */
::slotted(ui-MenuItem),
::slotted(ui-CheckboxMenuItem) {
    display: block;
    width: 100%;
    cursor: pointer;
    padding: 4px 16px;
    border: none;
    background: none;
    text-align: left;
    color: #e0e0e0;
}

::slotted(ui-MenuItem:hover),
::slotted(ui-CheckboxMenuItem:hover) {
    background-color: #4a90e2;
    color: white;
}

::slotted(ui-MenuItem[disabled]),
::slotted(ui-CheckboxMenuItem[disabled]) {
    color: #707070;
    cursor: default;
}

::slotted(ui-MenuItem[disabled]:hover),
::slotted(ui-CheckboxMenuItem[disabled]:hover) {
    background-color: transparent;
    color: #707070;
}

::slotted(ui-MenuItemSeparator) {
    height: 1px;
    background-color: #505050;
    margin: 2px 0;
    border: none;
}
