/* TimePicker - Janus theme */

input[type="time"] {
    /* sunken border */
    border: 1px solid #000000;
    box-shadow: inset 1px 1px 0 #808080;
}

input[type="time"]:focus {
    outline: 1px dotted #000000;
    outline-offset: -2px;
}

input[type="time"]:disabled {
    background-color: #c0c0c0;
    color: #808080;
    cursor: not-allowed;
}
