/* FloatingPane - Janus structural override */

:host {
    background-color: #c0c0c0;
    /* raised border */
    border-top: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #808080;
    border-bottom: 1px solid #808080;
    box-shadow:
        inset -1px -1px 0 #000000,
        inset 1px 1px 0 #dfdfdf;
}
