/* FloatingPane - Janus structural override */

:host {
    background-color: #c0c0c0;
    border: 1px solid #000000;
    box-shadow:
        inset -1px -1px 0 #808080,
        inset 1px 1px 0 #ffffff,
        inset -2px -2px 0 #808080,
        inset 2px 2px 0 #ffffff;
}
