/* ListBox Styles */
:host {
    display: inline-block;
    width: 100%;
}

select {
    width: 100%;
}

:host([disabled]) select {
    cursor: not-allowed;
    opacity: var(--gooey-listbox-opacity-disabled, var(--gooey-opacity-disabled));
}
