/* ListBox Dark Theme */

:host {
    display: inline-block;
    width: 100%;
}

select {
    width: 100%;
    background-color: #1e1e1e;
    color: #e0e0e0;
    border: 2px inset #505050;
}

select:focus {
    border-color: #4a90e2;
}

select option {
    background-color: #1e1e1e;
    color: #e0e0e0;
}

select option:checked {
    background-color: #4a90e2;
    color: white;
}
