/* CheckboxMenuItem - Janus (Win3.1) structural override */

.MenuItemIcon {
    height: 14px;
    width: 14px;
    margin-left: 6px;
    margin-right: 4px;
}

/* Checkmark pseudo-element */
:host([checked]) .MenuItemIcon::after {
    content: "\2713";
    font-size: 12px;
    font-weight: bold;
}

.MenuItemText {
    margin-left: 0px;
    margin-right: 40px;
}

.MenuItemShortcut {
    margin-right: 6px;
    width: 50px;
    color: #808080;
}

/* Active state - navy blue highlight */
:host([active]) {
    background-color: #000080 !important;
    color: #ffffff;
}

:host([active]) .MenuItemShortcut {
    color: #ffffff;
}

/* Disabled state */
:host([disabled]) .MenuItemText {
    text-shadow: 1px 1px 0 #ffffff;
}
