/* GroupBox - Janus (Win3.1) structural override */

.ui-GroupBox-content {
    background-color: #c0c0c0;
    /* Windows 3.1 etched border effect */
    border-top: 1px solid #808080;
    border-left: 1px solid #808080;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    box-shadow:
        inset 1px 1px 0 #ffffff,
        inset -1px -1px 0 #808080;
}

.ui-GroupBox-text {
    background-color: #c0c0c0;
    color: #000000;
}
