/* Label - Janus (Win3.1) structural override */
/* Mostly token-covered (font-family, font-size, color).
   Only layout/structural rules that differ from base.css are included. */

img {
    vertical-align: middle;
    margin-right: 4px;
}

span {
    vertical-align: middle;
}
