/* Menubar - Janus (Win3.1) structural override */

:host {
    /* Win3.1 subtle bottom border */
    border-bottom: 1px solid #808080;
    box-shadow: 0 1px 0 #ffffff;
}

.menuHeader {
    padding: 2px 8px;
}

.menuHeader[active], .menuHeader:hover {
    background-color: #000080;
    color: #ffffff;
}
