/* RadioButton - Janus (Win3.1) structural override */

input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    background-color: #ffffff;
    cursor: pointer;
    margin: 0;
    margin-right: 4px;
    position: relative;
    border-radius: 50%;
    /* Windows 3.1 circular sunken border */
    border: 1px solid #808080;
    box-shadow:
        inset 1px 1px 0 #000000,
        inset -1px -1px 0 #dfdfdf,
        1px 1px 0 #ffffff;
}

input[type="radio"]:checked {
    background-color: #ffffff;
}

input[type="radio"]:checked::after {
    content: "";
    position: absolute;
    left: 3px;
    top: 3px;
    width: 4px;
    height: 4px;
    background-color: #000000;
    border-radius: 50%;
}

input[type="radio"]:focus {
    outline: 1px dotted #000000;
    outline-offset: 2px;
}

input[type="radio"]:disabled {
    background-color: #c0c0c0;
    cursor: not-allowed;
}

input[type="radio"]:disabled:checked::after {
    background-color: #808080;
}
