/* RichTextEditor - Janus (Win3.1) structural override */

.richtexteditor-shell {
    background-color: #ffffff;
    /* Windows 3.1 sunken border */
    border-top: 1px solid #808080;
    border-left: 1px solid #808080;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    box-shadow: inset 1px 1px 0 #000000;
}

.richtexteditor-toolbar {
    background-color: #c0c0c0;
    border-bottom: 1px solid #808080;
}

.richtexteditor-button {
    background-color: #c0c0c0;
    cursor: pointer;
    /* Windows 3.1 raised button */
    border-top: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #808080;
    border-bottom: 1px solid #808080;
    box-shadow: inset -1px -1px 0 #000000;
}

.richtexteditor-button:hover {
    background-color: #d4d4d4;
}

.richtexteditor-button.is-active {
    background-color: #000080;
    color: #ffffff;
    border-top: 1px solid #808080;
    border-left: 1px solid #808080;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    box-shadow: inset 1px 1px 0 #000000;
}

.richtexteditor-button:disabled {
    cursor: not-allowed;
    color: #808080;
    text-shadow: 1px 1px 0 #ffffff;
}

:host([disabled]) .richtexteditor-content {
    background-color: #c0c0c0;
    color: #808080;
}
