/* Spinner - Janus (Win3.1) structural override */

input[type="number"] {
    /* Windows 3.1 sunken border */
    border-top: 1px solid #808080;
    border-left: 1px solid #808080;
    border-right: none;
    border-bottom: 1px solid #ffffff;
    box-shadow: inset 1px 1px 0 #000000;
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"]:focus {
    outline: none;
}

.increment-btn,
.decrement-btn {
    cursor: pointer;
    background-color: #c0c0c0;
    width: 16px;
    font-size: 8px;
    /* Windows 3.1 raised button */
    border-top: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #808080;
    border-bottom: 1px solid #808080;
    box-shadow: inset -1px -1px 0 #000000;
}

.increment-btn:active,
.decrement-btn:active {
    border-top: 1px solid #808080;
    border-left: 1px solid #808080;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    box-shadow: inset 1px 1px 0 #000000;
}

.increment-btn:disabled,
.decrement-btn:disabled {
    cursor: not-allowed;
    color: #808080;
}
