/* Tree - Janus (Win3.1) structural override */

.ui-Tree {
    background-color: #ffffff;
    /* Windows 3.1 sunken tree view */
    border-top: 1px solid #808080;
    border-left: 1px solid #808080;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    box-shadow: inset 1px 1px 0 #000000;
}
