/* Checkbox - Windows 3.1 Janus Theme */

:host {
    display: inline-flex;
    align-items: center;
    font-family: "MS Sans Serif", "Segoe UI", Tahoma, sans-serif;
    font-size: 11px;
    color: #000000;
    cursor: pointer;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 13px;
    height: 13px;
    background-color: #ffffff;
    cursor: pointer;
    margin: 0;
    margin-right: 4px;
    position: relative;
    /* Windows 3.1 sunken border */
    border-top: 1px solid #808080;
    border-left: 1px solid #808080;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    box-shadow: inset 1px 1px 0 #000000;
}

input[type="checkbox"]:checked {
    background-color: #ffffff;
}

input[type="checkbox"]:checked::after {
    content: "";
    position: absolute;
    left: 2px;
    top: 0px;
    width: 4px;
    height: 8px;
    border: solid #000000;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

input[type="checkbox"]:focus {
    outline: 1px dotted #000000;
    outline-offset: 2px;
}

input[type="checkbox"]:disabled {
    background-color: #c0c0c0;
    cursor: not-allowed;
}

input[type="checkbox"]:disabled:checked::after {
    border-color: #808080;
}
