/* ContextMenu - Classic Mac (Platinum) structural override */

.ui-ContextMenu {
    /* Classic Mac: 1px black border, white background, 1px drop shadow */
    border: 1px solid #000000;
    border-radius: 0;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 0 #000000;
    padding: 2px 0;
}

/* Nested MenuItem styles within ContextMenu */
::slotted(ui-MenuItem),
::slotted(ui-CheckboxMenuItem) {
    padding: 2px 16px;
    border: none;
    background: none;
}

::slotted(ui-MenuItem:hover),
::slotted(ui-CheckboxMenuItem:hover) {
    background-color: #0000A5;
    color: #FFFFFF;
}

::slotted(ui-MenuItem[disabled]),
::slotted(ui-CheckboxMenuItem[disabled]) {
    color: #7F7F7F;
}

::slotted(ui-MenuItem[disabled]:hover),
::slotted(ui-CheckboxMenuItem[disabled]:hover) {
    background-color: transparent;
    color: #7F7F7F;
}

/* Separator within ContextMenu */
::slotted(ui-MenuItemSeparator) {
    height: 1px;
    margin: 2px 4px;
    border: none;
    border-top: 1px solid #A0A0A0;
}
