/* ListBox - Classic Mac OS 7/8/9 (Platinum) structural override */

select {
    /* Classic Mac sunken field */
    border: 1px solid #000000;
    background-color: #FFFFFF;
    border-radius: 0;
    box-shadow: none;
}

select:focus {
    outline: 1px dotted #000000;
    outline-offset: -2px;
}

select option:checked {
    background-color: #0000A5;
    color: #FFFFFF;
}

/* Disabled state */
:host([disabled]) select {
    background-color: #DDDDDD;
    color: #7F7F7F;
    cursor: not-allowed;
}
