/* TextArea - Classic Mac OS 7/8/9 (Platinum) structural override */

textarea {
    /* Classic Mac sunken field */
    border: 1px solid #000000;
    background-color: #FFFFFF;
    padding: 2px 4px;
    border-radius: 0;
    box-shadow: none;
    resize: both;
}

textarea:focus {
    outline: 1px dotted #000000;
    outline-offset: -3px;
}

textarea:disabled {
    color: #7F7F7F;
    text-shadow: 1px 1px 0 #FFFFFF;
    background-color: #DDDDDD;
    cursor: not-allowed;
}

textarea::placeholder {
    color: #7F7F7F;
}

textarea:read-only {
    background-color: #DDDDDD;
}
