/* Tree - Classic Mac OS 7/8/9 structural override */

.ui-Tree {
    background-color: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 0;
}

/* Classic Mac scrollbar styling */
.ui-Tree::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}

.ui-Tree::-webkit-scrollbar-track {
    background: #DDDDDD;
}

.ui-Tree::-webkit-scrollbar-thumb {
    background: #AAAAAA;
    border: 1px solid #000000;
}

.ui-Tree::-webkit-scrollbar-thumb:hover {
    background: #999999;
}
