:host {
    color: var(--gooey-menuitem-color, var(--gooey-color-text));
    display: flex !important;
    justify-content: space-around;
    width: 100%;
}

.MenuItemIcon {
    height: var(--gooey-menuitem-icon-size, var(--gooey-icon-size));
    width: var(--gooey-menuitem-icon-size, var(--gooey-icon-size));
    margin-left: 7px;
    margin-right: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.MenuItemIconImage {
    height: 16px;
    width: 16px;
    display: none;
}

.MenuItemText {
    flex: 1;
    margin-left: 0px;
    margin-right: 60px;
    text-align: left;
    user-select: none;
}

.MenuItemShortcut {
    text-align: right;
    margin-right: 7px;
    width: 55px;
}

:host([active]) {
    background-color: var(--gooey-menuitem-bg-active, var(--gooey-color-primary)) !important;
    color: var(--gooey-menuitem-color-active, var(--gooey-color-primary-text));
}

/* Keyboard-only focus indicator for accessibility */
:host(:focus-visible) {
    outline: var(--gooey-focus-width, 2px) var(--gooey-focus-style, solid) var(--gooey-menuitem-focus-ring-color, var(--gooey-color-focus));
    outline-offset: var(--gooey-focus-offset, -2px);
}

:host([disabled]) {
    opacity: var(--gooey-menuitem-opacity-disabled, var(--gooey-opacity-disabled));
    cursor: not-allowed;
}
