/* MenuItem Dark Theme */

:host {
    color: #e0e0e0;
    display: flex !important;
    justify-content: space-around;
    width: 100%;
}

.MenuItemIcon {
    height: 16px;
    width: 16px;
    margin-left: 7px;
    margin-right: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.MenuItemIconImage {
    height: 16px;
    width: 16px;
    display: none;
}

.MenuItemText {
    flex: 1;
    margin-left: 0px;
    margin-right: 60px;
    text-align: left;
    user-select: none;
}

.MenuItemShortcut {
    text-align: right;
    margin-right: 7px;
    width: 55px;
    color: #a0a0a0;
}

:host([active]) {
    background-color: #4a90e2 !important;
    color: white;
}

:host([active]) .MenuItemShortcut {
    color: white;
}
