/* MenuItem - Windows 3.1 Janus Theme */

:host {
    color: #000000;
    display: flex !important;
    justify-content: space-around;
    width: 100%;
    padding: 2px 0;
    font-family: "MS Sans Serif", "Segoe UI", Tahoma, sans-serif;
    font-size: 11px;
    cursor: default;
}

.MenuItemIcon {
    height: 16px;
    width: 16px;
    margin-left: 6px;
    margin-right: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.MenuItemIconImage {
    height: 16px;
    width: 16px;
    display: none;
}

.MenuItemText {
    flex: 1;
    margin-left: 0px;
    margin-right: 40px;
    text-align: left;
    user-select: none;
}

.MenuItemShortcut {
    text-align: right;
    margin-right: 6px;
    width: 50px;
    color: #808080;
}

:host([active]) {
    background-color: #000080 !important;
    color: #ffffff;
}

:host([active]) .MenuItemShortcut {
    color: #ffffff;
}

:host([disabled]) {
    color: #808080;
}

:host([disabled]) .MenuItemText {
    text-shadow: 1px 1px 0 #ffffff;
}
