/* Panel Base Theme */

:host {
    display: block;
    background-color: var(--gooey-panel-bg, var(--gooey-color-surface));
}

::slotted(*) {
    /* Child elements use the container's layout system */
}
