/* GroupBox - Classic Mac (OS 7/8/9) structural override */
/* Simple recessed etched border (CLSC-09) */

.ui-GroupBox-content {
    background-color: #DDDDDD;
    /* Classic Mac etched/recessed border */
    border: 1px solid #A0A0A0;
}

.ui-GroupBox-text {
    background-color: #DDDDDD;
    color: #000000;
}
