/* PasswordField - Classic structural override */

input[type='password'] {
    /* Classic Mac sunken field */
    border: 1px solid #000000;
    background-color: #FFFFFF;
    padding: 2px 4px;
    border-radius: 0;
    box-shadow: none;
}

input[type='password']:focus {
    outline: 1px dotted #000000;
    outline-offset: -3px;
}

input[type='password']:disabled {
    color: #7F7F7F;
    text-shadow: 1px 1px 0 #FFFFFF;
    background-color: #DDDDDD;
    cursor: not-allowed;
}

input[type='password']::placeholder {
    color: #7F7F7F;
}
