/* TextField - Classic structural override */

input[type='text'] {
    /* Classic Mac sunken field */
    border: 1px solid #000000;
    background-color: #FFFFFF;
    padding: 2px 4px;
    border-radius: 0;
    box-shadow: none;
}

input[type='text']:focus {
    outline: 1px dotted #000000;
    outline-offset: -3px;
}

input[type='text']:disabled {
    color: #7F7F7F;
    text-shadow: 1px 1px 0 #FFFFFF;
    background-color: #DDDDDD;
    cursor: not-allowed;
}

input[type='text']::placeholder {
    color: #7F7F7F;
}

input[type='text']:read-only {
    background-color: #DDDDDD;
}
