/* RadioButton - Classic structural override */

input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 50%;
    cursor: pointer;
    margin: 0;
    margin-right: 4px;
    position: relative;
    box-shadow: none;
}

input[type="radio"]:checked {
    background-color: #FFFFFF;
}

input[type="radio"]:checked::after {
    content: "";
    position: absolute;
    left: 3px;
    top: 3px;
    width: 5px;
    height: 5px;
    background-color: #000000;
    border-radius: 50%;
}

input[type="radio"]:focus {
    outline: 1px dotted #000000;
    outline-offset: 3px;
}

:host([disabled]) input[type="radio"] {
    opacity: 0.5;
    cursor: not-allowed;
}

:host([disabled]) input[type="radio"]:checked::after {
    background-color: #7F7F7F;
}

/* Disabled label emboss effect */
:host([disabled]) .RadioButtonLabel {
    color: #7F7F7F;
    text-shadow: 1px 1px 0 #FFFFFF;
}
