/* RadioButton - Classic structural override */

input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    background: linear-gradient(to bottom right, #fff, #888);
    border: 1px solid #000000;
    border-radius: 50%;
    cursor: pointer;
    margin: 0;
    margin-right: 4px;
    position: relative;
    box-shadow: inset 1px 1px 0 #ddd, inset -1px -1px 0 #888;
}

input[type="radio"]:checked {
    background: linear-gradient(to bottom right, #555, #fff);
    box-shadow: inset 1px 1px 0 #555;
}

input[type="radio"]:checked::after {
    content: "";
    position: absolute;
    left: 2px;
    top: 2px;
    width: 6px;
    height: 6px;
    background-color: #000000;
    border-radius: 50%;
}

input[type="radio"]:active {
    background: linear-gradient(to bottom right, #444, #bbb);
    box-shadow: inset 1px 1px 0 #444;
}

input[type="radio"]:focus {
    outline: 2px solid var(--gooey-color-primary-3);
    outline-offset: 3px;
}

:host([disabled]) input[type="radio"] {
    background: #ddd;
    border-color: #888;
    box-shadow: none;
    cursor: not-allowed;
}

:host([disabled]) input[type="radio"]:checked::after {
    background-color: #888;
}

/* Disabled label */
:host([disabled]) .RadioButtonLabel {
    color: #7F7F7F;
}
