<template id="ui-RichTextEditor">
    <div class="richtexteditor-shell">
        <div class="richtexteditor-toolbar">
            <button class="richtexteditor-button" type="button" aria-label="Bold (Ctrl+B)" data-command="bold">
                <img src="text_bold32.png" alt="Bold">
            </button>
            <button class="richtexteditor-button" type="button" aria-label="Italic (Ctrl+I)" data-command="italic">
                <img src="text_italics32.png" alt="Italic">
            </button>
            <button class="richtexteditor-button" type="button" aria-label="Underline (Ctrl+U)" data-command="underline">
                <img src="text_underline32.png" alt="Underline">
            </button>
            <button class="richtexteditor-button" type="button" aria-label="Strikethrough" data-command="strikeThrough">
                <s>S</s>
            </button>
            <button class="richtexteditor-button" type="button" aria-label="Subscript" data-command="subscript">
                <img src="text_subscript32.png" alt="Subscript">
            </button>
            <button class="richtexteditor-button" type="button" aria-label="Superscript" data-command="superscript">
                <img src="text_superscript32.png" alt="Superscript">
            </button>
            <button class="richtexteditor-button" type="button" aria-label="Left align" data-command="justifyLeft">
                <img src="text_align_left32.png" alt="Left Align">
            </button>
            <button class="richtexteditor-button" type="button" aria-label="Center align" data-command="justifyCenter">
                <img src="text_align_center32.png" alt="Center Align">
            </button>
            <button class="richtexteditor-button" type="button" aria-label="Right align" data-command="justifyRight">
                <img src="text_align_right32.png" alt="Right Align">
            </button>
            <button class="richtexteditor-button" type="button" aria-label="Justify" data-command="justifyFull">
                <img src="text_align_justified32.png" alt="Justify">
            </button>
        </div>
        <div class="richtexteditor-content" contenteditable="true" role="textbox" tabindex="0" aria-multiline="true" spellcheck="true">
        </div>
    </div>
</template>