<template id="ui-RichTextEditor">
    <div class="rte-shell">
        <div class="rte-toolbar" part="toolbar">
            <!-- Toolbar will be populated by RTEToolbar component in Phase 41 -->
            <!-- For now, empty placeholder that is hidden by default -->
        </div>
        <slot></slot>
        <div class="rte-editor-area" part="editor-area">
            <textarea class="rte-input-sink" aria-hidden="true" tabindex="-1" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></textarea>
            <div class="rte-content" role="textbox" aria-multiline="true" tabindex="0" part="content"></div>
            <div class="rte-selection" aria-hidden="true"></div>
        </div>
    </div>
</template>