:host([visible='true']) {
    display: flex !important;
    margin-left: 11px;
    width: 100%;
}

:host([visible='false']) {
    display: none;
}

:host {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    /* Default button size - medium */
    --button-height: 48px;
    --button-width: 48px;
    --button-line-height: 48px;
}

:host([wrap]) {
    flex-wrap: wrap;
}

/* Button size variants */
:host([buttonsize='tiny']) {
    --button-height: 32px;
    --button-width: 32px;
    --button-line-height: 32px;
}

:host([buttonsize='small']) {
    --button-height: 40px;
    --button-width: 40px;
    --button-line-height: 40px;
}

:host([buttonsize='medium']) {
    --button-height: 48px;
    --button-width: 48px;
    --button-line-height: 48px;
}

:host([buttonsize='large']) {
    --button-height: 64px;
    --button-width: 64px;
    --button-line-height: 64px;
}

:host([buttonsize='xlarge']) {
    --button-height: 144px;
    --button-width: 144px;
    --button-line-height: 144px;
}

/* Apply button sizing to child components */
::slotted(ui-button) {
    height: var(--button-height);
    width: var(--button-width);
}

::slotted(ui-togglebutton) {
    height: var(--button-height);
    width: var(--button-width);
}

::slotted(ui-colorpicker) {
    height: var(--button-height);
    width: var(--button-width);
}

::slotted(ui-dropdownlist) {
    height: var(--button-height);
    line-height: var(--button-line-height);
}

/* Button elements inside toolbar */
button {
    height: 100%;
    width: 100%;
}
