/* RichTextEditor - Classic structural override */

.rte-shell {
    background-color: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: none;
}

.rte-toolbar {
    background-color: #DDDDDD;
    border-bottom: 1px solid #000000;
}

.rte-content {
    background-color: #FFFFFF;
}

:host([disabled]) .rte-content {
    background-color: #DDDDDD;
    color: #7F7F7F;
    text-shadow: 1px 1px 0 #FFFFFF;
}
