/* RichTextEditor - Janus structural override */

.rte-shell {
    background-color: #ffffff;
    /* sunken border */
    border-top: 1px solid #808080;
    border-left: 1px solid #808080;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    box-shadow: inset 1px 1px 0 #000000;
}

.rte-toolbar {
    background-color: #c0c0c0;
    border-bottom: 1px solid #808080;
}

.rte-content {
    background-color: #ffffff;
}

:host([disabled]) .rte-content {
    background-color: #c0c0c0;
    color: #808080;
}
