:host {
    display: inline-block;
    border-color: var(--gooey-toolbarseparator-border-color, var(--gooey-color-surface-raised));
    border-style: solid;
    border-width: 1px;
    margin: 2px;
    width: 1px;
}
