/* ToolbarSeparator - Classic Mac (OS 7/8/9) structural override */
/* Simple vertical line separator */

:host {
    margin: 2px 4px;
    width: 1px;
    height: 24px;
    border-left: 1px solid #A0A0A0;
    border-right: none;
    border-top: none;
    border-bottom: none;
}
