/* ToolbarSeparator - Janus structural override */

:host {
    margin: 2px 4px;
    width: 2px;
    height: 24px;
    /* etched vertical line */
    border-left: 1px solid #808080;
    border-right: 1px solid #ffffff;
}
