:host {
    display: inline-block;
}

div {
    display: block;
    width: 100%;
    height: 100%;
}

img {
    vertical-align: middle;
    margin-right: var(--gooey-label-icon-gap, var(--gooey-spacing-sm, 4px));
}

span {
    vertical-align: middle;
}
