/* Label Dark Theme */

:host {
    display: inline-block;
    color: #e0e0e0;
}

div {
    display: block;
    width: 100%;
    height: 100%;
}

img {
    vertical-align: middle;
    margin-right: 4px;
}

span {
    vertical-align: middle;
}
