/* Label - Janus structural override */
/* Mostly handled by theme CSS (font-family, font-size, color).
   Only layout/structural rules that differ from base.css are included. */

img {
    vertical-align: middle;
    margin-right: 4px;
}

span {
    vertical-align: middle;
}
