/* WaffleMenuItem - Janus structural override */

:host {
    --waffle-item-size: 96px;
    --waffle-item-icon-size: 48px;
    --waffle-item-bg: transparent;
    --waffle-item-hover-bg: #0000C0;
    --waffle-item-active-bg: #000090;
    --waffle-item-label-color: #000000;
    --waffle-item-border-radius: 0px;
    --waffle-badge-bg: #0000C0;
    --waffle-badge-color: #ffffff;
}

.waffle-item:hover {
    border-color: #000000;
    color: #ffffff;
}

.waffle-item:focus {
    outline: 1px dotted #000000;
    outline-offset: -2px;
    border-color: #000000;
}

.waffle-item-image {
    border-radius: 0;
}
