/* Tree Component Styles */
:host {
    display: block;
}

.ui-Tree {
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: var(--gooey-tree-font-family, var(--gooey-font-family, sans-serif));
    font-size: var(--gooey-tree-font-size, var(--gooey-font-size-md, 14px));
    user-select: none;
}
