/* Tree Component Dark Theme */

:host {
    display: block;
}

.ui-Tree {
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 14px;
    user-select: none;
    color: #e0e0e0;
    background-color: #2d2d2d;
}
