/* TextArea Dark Theme */

:host {
    display: inline-block;
}

textarea {
    height: 100%;
    width: 100%;
    background-color: #1e1e1e;
    color: #e0e0e0;
    border: 2px inset #505050;
}

textarea:focus {
    border-color: #4a90e2;
}

textarea::placeholder {
    color: #707070;
}
