:host {
    display: inline-block;
}

.spinner-container {
    display: flex;
    align-items: center;
}

input[type="number"] {
    flex: 1;
    min-width: 60px;
}

.increment-btn,
.decrement-btn {
    cursor: pointer;
}

:host([disabled]) input[type="number"],
:host([disabled]) .increment-btn,
:host([disabled]) .decrement-btn {
    cursor: not-allowed;
    opacity: var(--gooey-spinner-opacity-disabled, var(--gooey-opacity-disabled, 0.5));
}
