:host {
    display: inline-block;
}

.spinner-container {
    display: flex;
    align-items: center;
}

input[type="number"] {
    flex: 1;
    min-width: 60px;
}

.increment-btn,
.decrement-btn {
    cursor: pointer;
}
