/* Tab Base Theme */

:host {
    display: none;
    width: 100%;
    flex: 1;
    overflow: auto;
    padding: 8px;
    background-color: var(--gooey-tab-bg, var(--gooey-color-surface));
    box-sizing: border-box;
    min-height: 0;
}

:host([active]) {
    display: flex;
    flex-direction: column;
}
