/* Menu Dark Theme */

:host {
    border-style: solid;
    border-width: 1px;
    border-color: #505050;
    cursor: default;
    display: flex;
    padding-bottom: 2px;
    position: absolute;
    z-index: 5;
    background-color: #2d2d2d;
}
