/* Menu - Janus structural override */

:host {
    /* raised menu border + drop shadow */
    border-top: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #808080;
    border-bottom: 1px solid #808080;
    box-shadow:
        inset -1px -1px 0 #000000,
        2px 2px 0 #000000;
}
