:host, :host(.ui-Toolbar) {
    display: block;
}

:host {
    display: flex !important;
    height: var(--gooey-menubar-height, 22px);
    width: 100%;
}

.menuHeader {
    cursor: default;
    margin-left: var(--gooey-menubar-header-margin, var(--gooey-spacing-lg, 11px));
    margin-right: var(--gooey-menubar-header-margin, var(--gooey-spacing-lg, 11px));
    padding-left: var(--gooey-menubar-header-padding, var(--gooey-spacing-sm, 4px));
    padding-right: var(--gooey-menubar-header-padding, var(--gooey-spacing-sm, 4px));
    user-select: none;
}

.menuHeader[active], .menuHeader:hover {
    background-color: var(--gooey-menubar-header-active-bg, var(--gooey-color-primary, #010082));
    color: var(--gooey-menubar-header-active-color, var(--gooey-color-primary-text, white));
    user-select: none;
}
