:host, :host(.ui-Toolbar) {
    display: block;
}

:host {
    display: flex !important;
    height: 22px;
    width: 100%;
}

.menuHeader {
    cursor: default;
    margin-left: 11px;
    margin-right: 11px;
    padding-left: 4px;
    padding-right: 4px;
    user-select: none;
}

.menuHeader[active], .menuHeader:hover {
    background-color: #010082;
    color: white;
    user-select: none;
}
