/* Menubar - Janus structural override */

:host {
    border-bottom: 1px solid #000000;
    box-shadow: 0 1px 0 #808080;
}

.menuHeader {
    padding: 2px 8px;
}

.menuHeader[active], .menuHeader:hover {
    background-color: #0000C0;
    color: #ffffff;
}
